<div class="card" *ngIf=" nonvide===true">
    <!-- <h5>Implicit Pagination</h5> -->
    <p-table [value]="donnee" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [tableStyle]="{'min-width': '40rem'}"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
       
		<ng-template pTemplate="header" >
            <tr>
                <th style="width:30%;background-color: dodgerblue;">NOM DU BUREAU</th>
                <th style="width:30%;background-color: dodgerblue;">ANNEE</th>
                <th style="width:30%;background-color: dodgerblue;">MONTANT</th>
                <th style="width:30%;background-color: dodgerblue;">Voir details</th>
                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-d>
            <tr>
                <td>{{d.budget.structure.nomStructure}}</td>
                <td>{{d.budget.annee }}</td>
           
                <td *ngIf=" infosUser.idrole===2">
                    {{d.budget.montant_propose_drp}}
			    </td>
            
                <td *ngIf=" infosUser.idrole===1">
                    {{d.budget.montant_propose_bureau}}
			    </td>
                <td>
					<button pButton pRipple type="button" label="Voir" class="p-button-rounded p-button-info" (click)="afficheCompte(d)"></button>

			    </td>
                

         </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
	</p-table>
</div>

    <div  class="card" *ngIf=" vide===false" style="width:50em;height:15em">
    
                    <i class="material-icons" data-notify="icon">notifications</i>
                
                <tbody>
                    
                    <p style="color:blue;text-align:justify;font-size:30px;"> <b>Votre budget est en attente de validation! </b></p>
                </tbody>
                
    </div>


    <div   *ngIf=" vide===true" style="width:50em;height:15em">
			

     <p-dialog [(visible)]="productDialog" [style]="{width: '600px',height:'550px'}" header=" Details Budget" [modal]="true" class="p-fluid">
    	<p-table [value]="currentCompte" dataKey="id" editMode="row">
	   
		   <ng-template pTemplate="header"  >
			   <tr>
				  
				   <th style="width:45%;background-color: dodgerblue;">Libelle</th>
				   <th style="width:45%;background-color: dodgerblue;">Montant</th>
				   <th style="width:45%;background-color: dodgerblue;">NOUVEAU MONTANT</th>
			   </tr>
		   </ng-template>
		  <ng-template pTemplate="body" let-c>
		   <tr>
			   <td>
				{{ c.compteBudget.libelle}}
			   </td>
              
               <td *ngIf=" infosUser.idrole===2">
                {{ c.montantProposeDrp}}
                </td>
             
         
                <td *ngIf=" infosUser.idrole===1">
                    {{ c.montantProposeBureau}}
                </td>

			 
			   <td *ngIf="idroleuser===2" >
					<p-inputNumber  placeholder="saisir montant" style="width:10em" type="submit" [min]="0" [(ngModel)]="c.montantProposeDrp"></p-inputNumber>

			   </td>
               <td  *ngIf="idroleuser===1">
					<p-inputNumber  placeholder="saisir montant" style="width:10em" type="submit" [min]="0" [(ngModel)]="c.montantProposeBureau"></p-inputNumber>
			   </td>
			   
		   </tr>
		   
	   </ng-template>
   </p-table>
	   <ng-template pTemplate="footer" let-c>
		   <button pButton pRipple label="Anuler" icon="pi pi-times" class="p-button-rounded p-button-danger" (click)="hideDialog()"></button>
		   <button pButton pRipple label="Valider" icon="pi pi-check" class="p-button-rounded p-button-success" (click)="update()"></button>
	   </ng-template>
    
   </p-dialog>
</div>

<!-- fin  -->

 







<!-- <div class="main-content" >
	<div *ngIf="budget.length!==0; then nonvide else vide"></div>
	  <ng-template #vide>
		<div class="container-fluid" >
	  <div class="alert alert-info alert-with-icon">
		<i class="material-icons" data-notify="icon">notifications</i>
		<span>Aucun budget n'est en attente de validation!</span>
	  </div>
	</div>
	  </ng-template>
	  <ng-template #nonvide>
		<div class="container-fluid" >
		  <div class="row">
			  <div class="col-md-12">
				  <div class="card">
					<div class="card-header card-header-rose card-header-icon">
					  <div class="card-icon">
						<i class="material-icons">assignment</i>
					  </div>
					  <h4 class="card-title">Simple Table</h4>
					</div>
					  <div class="card-body">
						  <div class="table-responsive">
							  <table class="table" >
								 <table class="table" *ngIf="budget"></table> 
									  <thead>
										  <tr>
											<th class="text-center" >Nom du bureau</th>
											<th class="text-center">Budget demandé</th>
										 
											  <th class="text-center">Voir les détails</th>
											
										
										  </tr>
									  </thead>
									<tbody >
										<tr *ngFor="let c of budget">
										  
										  <td class="text-center" >{{ c.budget.structure.nomStructure}}</td>
											<td class="text-center" >{{c.budget.montant_propose_bureau}}</td>
											
											<td class="text-center">
											  <button (click)="afficheCompte(c)" mat-raised-button class="btn btn-raised btn-round btn-info text-right" data-toggle="modal" data-target="#noticeModal"  > 
												 Voir  
										    </button>
											</td>      
										</tr>
									</tbody>
								   
							  </table>
  
						  </div>
					  </div>
				  </div>
			  </div>
		  </div>
		</div>
		</ng-template>
</div> -->
